.App {
  height: 90vh;
  background: #f2f5f7;

  .swiper-container {
    height: 100%;
  }

  .buttonBar {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.05rem 0.11rem -0.03rem rgba(0, 0, 0, .2), 0 -0.08rem 0.13rem 0 rgba(0, 0, 0, .14), 0 0.03rem 0.27rem 0 rgba(0, 0, 0, .12);

    .active {
      background: red;
    }
  }
}